
<img src="../public/images/pngjoy.com_superman-clipart-pixel-art-superman-hd-png-download_9435808.png">
<div class="settings">
  <br>
<a href="/">Go back</a>

<h1>Welcome, {{ user.username }}!</h1>

<h2>Here is a list of your current trips:</h2>
{{#each data}}
<h3>Trip Name:{{name}}</h3>
<form action="/home" method="POST">
<button>Delete</button>
</form>
{{/each}}

 <form action="/logout" method="POST">
 <button type="submit" class="delete">Logout</button>
 </form>

 <h2>Create a trip</h2>  
 <a href="/create">Create</a>
 </div>
