
<div class="settings">
  <br>
<a href="/">Go back</a>
<br>
<h1>Welcome, {{ username }}!</h1>

<h2>Here is a list of your current trips:</h2>

 
 <form action="/logout" method="POST">
<button type="submit">Logout</button>
 </form>
 <h2>Create a trip</h2>

<a href="/create">Create</a>
</div>
