<div class="settings">
<h1>Main page</h1>
<br>
<br>
<img src="https://bicycle-cards.co.uk/wp-content/uploads/2019/12/Gary-Jones-lifes-a-beach-volume-2-review.jpg" alt="home page pic">
<br><br>
<a href="/home">Go back to profile</a>
</div>