
<h2>New here?</h2>
<h3>Sign up </h3>
<form action="/signup" method="POST">
  <label>Email</label>
  <input name="email" type="text"  placeholder="Enter your email"  >

  <label>Password</label>
  <input name="password" type="password"  placeholder="Enter your Password"  >
  <button>Sign Up</button>
</form>

<h3>-Or-</h3>
