<section class="settings homeTop googleIcon1">
  <h3 class="welcome3">New here?</h3>
  <h4 class="welcome3">Sign up now!</h4>

  <form action="/signup" method="post">
    <label for="username" class="googleIcon1 welcome3">Username:</label>
    <input type="text" name="username" placeholder="Enter username" >
    <label for="password" class="googleIcon1 welcome3">Password:</label>
    <input type="password" name="password" placeholder="Enter password" >
    <button type="submit">Submit</button>
  </form>

  <i class="fa fa-arrow-left googleIcon1 or welcome3" aria-hidden="true"><a href="/" class="googleIcon1 backT">Back</a></i>
<h4 class=>Or</h4>
  {{#if msg}}
  
  <p>{{msg}}</p> 

  {{/if}}

<i class="fa fa-google fa-3x googleIcon welcome3" aria-hidden="false"><a href="/auth/google" class="googleIcon1">oogle</a></i>
</section>


