<section class="settings">


<h1>Login</h1>
<form action="/signin" method="POST">
  <label for="username" class="googleIcon1 welcome3">Username:</label>
  <input type="text" name="username" placeholder="Enter your username" >

  <label for="password" class="googleIcon1 welcome3">Password:</label>
  <input type="password" name="password" placeholder="Enter your password *****">

  <button type="submit">Submit</button>
</form>
<br><br>
<i class="fa fa-arrow-left googleIcon1 welcome3" aria-hidden="true"><a href="/" class="googleIcon1 backT">Back</a></i>

{{#if msg}}

<p>{{msg}}</p>

{{/if}}
</section>