<section class="settings">
  <h2>New here?</h2>
  <h2>Sign up now!</h2>

  <form action="/signup" method="post">
   <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Enter username" >
   <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Enter password" >

    <button type="submit">Submit</button>

  </form>

  <br>
  <a href="/">Go Back</a>

  {{#if msg}}
  
  <p>{{msg}}</p> 

  {{/if}}

<h3>Or</h3>
<h4>Sign In with Google Account</h4>
</section>


