<form action="/signin" method="POST">
  <label>Username</label>
  <input name="username" type="text"  placeholder="Enter your username"  >

  <label>Password</label>
  <input name="password" type="password"  placeholder="Enter your Password"  >
  <button>Sign in</button>
</form>

{{#if msg}}
  <div class="error">{{msg}}</div>
{{/if}}