<div id="indexHbs" class="d-flex flex-column align-items-center">
<<<<<<< HEAD
<div class="p-2 " id="logo-img"><img src="/images/logo.png" alt="logo" height="200px" width="240px"></div>
<div id="indexHbs2" class="p-2"><h3 class="welcome">Welcome Traveler</h3></div>
=======
<div class="p-2 fade-in" id="logo-img"><img src="/images/logo.png" alt="logo"></div>
<div id="indexHbs2" class="p-2"><h3 class="welcome fade-in">Welcome Traveler</h3></div>
>>>>>>> 59de636b13096556c11d71272a2817badd1ef441
</div>


