<div class="settings">
</div>

<img class="logo" src="/images/logo.png" alt="logo" height="400px">

<h1 class="welcome">Welcome</h1>

 <nav>
       <a href="/">Home</a>
       
         <ul>    
               <li id="to-right">
                  <a href="/signup">Sign Up</a> <span> | </span>
               </li>
               <li id="to-right">
                  <a href="/signin">Login</a> <span> | </span>
               </li>   
         </ul>
      </nav> 
