<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Life's a Beach!</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
   </head>

   <body>
      
      <a href="/">Home</a>

   <nav>
      <img src="../public/images/31b33e5978de46999fe61ef644f5712e.png" alt="logo">
         <ul>    
               <li id="to-right">
                  <a href="/signup">Sign Up</a> <span> | </span>
               </li>
               <li id="to-right">
                  <a href="/signin">Login</a> <span> | </span>
               </li>   
           
         </ul>
      </nav> 

    {{{body}}}


    <script src="/js/script.js"></script>
   </body>

</html>