
<h1>Sign Up</h1>

<form action="/todos/create" method="POST">

  <label for="title">Title</label>
  <input type = "text" name ="title">

  <br>

  <label for="descrition">Description</label>
  <input type="text" name="description">

  <br>

  <button type="submit">button</button>
  </form>