body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(221, 218, 198);
}

.create {
  padding: 10px;
  font-size: 40px;
  border: 2px solid black;
  box-shadow: 4px 4px 2px black;
  background-color: blue;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 50px;
}
a {
  color: #00b7ff;
}

h2 {
  color: rgb(53, 194, 255);
  font-size: 50px;
  text-shadow: 4px 4px 2px black;
}

h3 {
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  color: rgb(82, 82, 81);
}

.name {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}

.green {
  color: green;
  font-size: 50px;
  font-weight: bold;
}

a {
  color: #00b7ff;
  text-decoration: none;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease;
  width: 100%;
}

form button:hover {
  background: rgb(10, 30, 208);
  color: #43a3e6;
  transition: 0.3s ease;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  border-bottom: 2px solid #43a3e6;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 20px;
}

#to-right {
  padding: 1em;
  float: right;
}

#to-right span {
  color: #43a3e6;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}
.settings {
  text-align: center;
  align-items: center;
}

.createATrip {
  text-align: center;
  align-items: center;
  margin-bottom: 80px;
  border: 3px solid rgb(78, 78, 80);
  background-color: rgb(168, 166, 163);
  border-radius: 30px;
  box-shadow: 4px 4px 2px black;
  width: 600px;
  height: 250px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: rgb(2, 149, 202);
  text-shadow: 8px 8px 3px black;
  margin-top: -30px;
}

.logo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: -20px;
}

#back {
  position: relative;
  left: -450px;
}
#delete {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 130px;
  width: 100px;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 8px black;
}

.logout {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 130px;
  width: 100px;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 8px black;
}
