<h2 class="welcome2">Enter the budget for your dream vacation</h2>

<form action="/budget/{{id}}"  method="POST">
  <label class="welcome2">Budget $$$</label>
  <input name="budget" type="text"  placeholder="Your Budget"  >

  <button>Enter</button>
</form>