<h2>Enter the budget for your dream vacation</h2>

<form action="/budget" method="POST">
  <label>Budget $$$</label>
  <input name="budget" type="text"  placeholder="Your Budget"  >

  <button>Enter</button>
</form>