<div class="settings">
  <h2 class="googleIcon1 welcome3 fade-in">Do you plan to rent a car?</h2>

  <form action="/car/{{id}}" method="POST" class="fade-in">
  <label for="car" class="googleIcon1 welcome3">Type of Car:</label>
  <select name="car" id="car">
    <option value="350">SUV</option>
    <option value="280">Mid-Size</option>
    <option value="210">Economy</option> 
     <option value="0">No car</option> 
  </select>
  <button>Next</button>
  </form>
</div>