
<img src="/images/logo.png" alt="logo">

{{#if name}}
<h2 class="welcome2">List of your current vacations planned:</h2>
  <ul>
    <li>{{name}}</li>
  </ul>
{{/if}}

<h2 class="welcome2">Create a new Vacation plan!</h2>
<form action="/trips/create" method="POST">

  <label for="name" class="welcome2" >Trip Name</label>
  <input type = "text" name ="name">
    
    <br>

    <button type="submit">Create</button>
  </form>
</div>