<h1>Life's a Beach</h1>

<h2>List of your current vacations planned</h2>


<h2>Create a new Vacation plan!</h2>
<form action="/trips/create" method="POST">

  <label for="name">Trip Name</label>
  <input type = "text" name ="name">

  <br>

  <button type="submit">Create</button>
  </form>