<h2>Choose your destination!</h2>

<form action="/destination/{{id}}" method="POST">
<label for="destination">Choose where you want to go:</label>

<select  name="destination" id="destination">
  <option value="Honolulu">Hawaii</option>
  <option value="Tahiti">Tahiti</option>
  <option value="Bali">Bali</option>
  <option value="Austraila">Sydney</option>
  <option value="California">California</option>
  <option value="Mexico">Cancun</option>
</select>

<button>Select</button>
</form>