<img src="/images/logo.png" alt="logo">

<form action="/destination/{{id}}" method="POST">
<label for="destination" class="welcome2"  >Choose your destination:</label>

<select name="destination" id="destination" class="formMenu">
  <option value="Honolulu">Hawaii</option>
  <option value="Tahiti">Tahiti</option>
  <option value="Bali">Bali</option>
  <option value="Australia">Sydney</option>
  <option value="California">California</option>
  <option value="Mexico">Cancun</option>
</select>

<button>Select</button>
</form>