
<div class="settings">
<h2>How long of a vacation would you like to plan?</h2>

<form action="/length/{{id}}" method="POST">
<select name="lengthInWeeks" id="lengthInWeeks">
  <option value="1">1 Week</option>
  <option value="2">2 Weeks</option>
  <option value="3">3 Weeks</option>
</select>

<button>Select</button>
</form>
</div>