<h2>How long of a vacation would you like to plan?</h2>

<label for="length">Choose how many weeks you will be on vacation:</label>

<select name="lengthInWeeks" id="lengthInWeeks">
  <option value="1week">1 Week</option>
  <option value="2Weeks">2 Weeks</option>
  <option value="3Weeks">3 Weeks</option>
  <option value="4Weeks">4 Weeks</option>
</select>

<button>Next</button>