<form action="/length/{{id}}" method="POST">
<label for="lengthInWeeks" class="welcome2">How long is your vacation?</label>

<select name="lengthInWeeks" id="lengthInWeeks" class="formMenu">
  <option value="1">1 Week</option>
  <option value="2">2 Weeks</option>
  <option value="3">3 Weeks</option>
</select>

<button>Select</button>
</form>
</div>