<h2 class="welcome2 fade-in">Choose your preferred luxury level</h2>


<form action="/luxury/{{id}}" method="POST" class="fade-in">
<label for="luxury" class="welcome2">Luxury level:</label>

<select name="luxury" id="luxury" class="formMenu">
  
  <option value="1.5">Premium</option>
  <option value="1">Basic</option>
  <option value=".75">Budget</option>
  
</select>

<button>Next</button>
</form>
