
<h2 class="settings">When you want to take this vacation?</h2>


<form action="/timeuntil/{{id}}" method="POST">
<label for="approxDate">Start date:</label>
<input type="date" name="approxDate" id="approxDate">
<button>Next</button>
</form>
