<h2 class="welcome2 fade-in">When you want to take this vacation?</h2>

<form action="/timeuntil/{{id}}" method="POST" class="fade-in">
<label for="approxDate" class="welcome2 " >Start date:</label>
<input type="date" name="approxDate" id="approxDate" >
<button>Next</button>
</form>
