<h1>Estimated total cost of your trip is...</h1>

<h1 class="green">${{total}}</h1>

<h2>You will need to save every week:</h2>

<h1 class="green">${{saveEach}}</h1>
<h2>To be able to go on this vacation</h2>

<form action="/total/{{id}}" method="POST">
<button>Next</button>
</form>


