<div class="settings fade-in">
{{#if possible}}

<h2 class="tot">Estimated total cost of your trip is...</h2>

<h1 class="green">${{total}}</h1>

<h2 class="tot">You will need to save every week:</h2>

<h1 class="green">${{saveEach}}</h1>

{{else}}
<h1>We are really sorry,</h1>
<h1>You cannot take this trip with your budget</h1>
<h3>Please change your trip to resolve the problem</h3>
{{/if}}


<form action="/total/{{id}}" method="POST">
  <button>Next</button>
  </form>
</div>

