<h2 class="tot">Estimated total cost of your trip is...</h2>

<h1 class="green">${{total}}</h1>

<h2 class="tot">You will need to save every week:</h2>

<h1 class="green">${{saveEach}}</h1>
<h3 class="tot">To be able to go on this vacation</h3>

<form action="/total/{{id}}" method="POST">
<button>Next</button>
</form>


