

<h3>Estimated total cost of your trip is...</h3>

<h1 class="green">${{total}}</h1>

<h3>You will need to save every week:</h3>

<h1 class="green">${{saveEach}}</h1>


<form action="/total/{{id}}" method="POST">
  <button>Next</button>
</form>



